# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
.vscode

# gradle
build
.gradle

# other
eclipse
resource
run
classes
*.psd
*.log
logs

core/src/main/resources/assets/modernui/test/
forge/src/main/java/icyllis/modernui/test/Main.java
